[user]
	name = Sam Gale
	email = sjwindy@gmail.com
        signingkey = C1C71897C30F6F1C
[alias]
	co = checkout
	c = commit
	s = status
	b = branch
	st = stash
	sta = stash apply
	h = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[commit]
	template = /Users/sgale/.stCommitMsg
        gpgsign = true
[init]
        defaultBranch = main
[tag]
        gpgsign = true
