[core]
	excludesfile = /Users/samuel-gale/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Samuel Gale
	email = sam.gale@byu.net
[alias]
	co = checkout
	c = commit
	s = status
	b = branch
	st = stash
	sta = stash apply
	h = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[commit]
	template = /Users/sgale/.stCommitMsg
